Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is the collection of organized data that is structured or unstructured. The database's primary goal is to store a huge amount of data.


SQL stands for Structured Query Language. We use SQL in a Relational Database Management System also known as RDBMS. RDBMS is a software used to store, manage, query, and fetch data stored in a relational database.

In Relational databases, we store data in the form of tables, rows and columns and some of the tables are connected with each other with some relation.


NoSQL stands for “Not Only SQL” or “Non SQL”. It is used in non-relational databases. As name suggests, data is not formed in form tables in NoSQL databases. Non relational databases are different from traditional relational databases. Here we store data in the form document which is a key value pair data structure. Consider the following image where the data is stored in the object.



SQL	VS No SQL

SQL    - > It is a relational database.	
No SQL - > It is a non-relational database.

SQL    - > Data is present in the form of tables, rows, and columns.	
No SQL - > Data is present in the form of collections and documents.

SQL    - > Fixed schema design & structure.	
No SQL - > Dynamic schema design and structure.

SQL    - > It is vertically scalable and there is a limit to scale.	
No SQL - > It is horizontally scalable with no limit to scale.

SQL    - > Possible to perform the complex queries.	
No SQL - > Not possible to perform complex queries.

SQL    - > It follows the ACID(Atomicity, Consistency, Isolation, Durability) property.	
No SQL - > It follows the CAP(Consistency, Availability, Partition tolerance) principle.

SQL    - > Good support from vendors as well as consultancy for the deployment.	
No SQL - > It has a growing community so it is difficult to find experts for deployment.

SQL    - > Eg. MySQL, PostgreSQL, Oracle, Microsoft SQL Server, etc.	
No SQL - > Eg. MongoDB, CouchDB, Neo4j, RavenDB, etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

SQL(Structured Query Language) commands are used to create and maintain Databases. Data Definition Language(DDL) is a type of SQL command used to define the components of databases using Database Management Systems.

DDL in DBMS is used to create or modify the database objects like tables, views etc. These commands deal with defining a schema and adding a table description to it.

DDL commands define the table structure and its column properties.

Create

CREATE is a DDL command in DBMS that is used to create tables or databases. While creating a table, we specify table names, column names, datatypes of each column, and column sizes. If there are any integrity constraints or key constraints of the table like PRIMARY KEY, UNIQUE, NOT NULL, etc. we must specify them while creating it along with the column names and details.

In [ ]:
--Defining a new table using CREATE
CREATE TABLE Students
(
    --Giving the column names and data type details of the table.
    Roll_no INT PRIMARY KEY,
    Name VARCHAR(20),
    Age INT,
    Address VARCHAR(30)
);

Alter

ALTER is a DDL command used to change the structure of an existing database table. Using this command we can perform operations like adding a new column, removing any column, adding or removing integrity constraints, or changing the data type of the existing column on the existing table. ALTER command is used to modify the existing structure of the table.

In [ ]:
ALTER TABLE Students ADD Date_Of_Birth  DATE;

Truncate

TRUNCATE is a DDL command used to delete all records from the table while keeping its structure intact. This command is used to get rid of all the records and free up the space being used by the table. However, the table's structure remains unchanged, including the column names and details. Thus, the table can be used to store new data in the future.

In [ ]:
TRUNCATE TABLE Students;

Drop

DROP is a DDL command used to delete an existing table completely from the database. This command deletes the table records along with their structure. The table and all its components are completely deleted and cannot be found again in the database.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The dml in dbms is one of the types of SQL queries. It stands for Data Manipulation Language. The DML commands in Structured Query Language (SQL) are responsible for making any change in the data present in SQL databases. The change can be anything, it can be inserting new records in the table, or altering the data present in the table or removing some existing data from the database table.

Select:
    
SELECT is the most widely used data manipulation command in Structured Query Language for retrieving data from the table.

It is used to fetch the data in a set of records from a table, view or a group of tables, views by making the use of SQL joins.

In [ ]:
SELECT column_Name_1, column_Name_2, … FROM table_name;  

SELECT * FROM student_details

Insert

INSERT is another important data manipulation command in Structured Query Language used to insert data into the rows of a table.

In [ ]:
INSERT INTO table_name    
(col_1, col_2,.... col_n)  
VALUES (value_1, value_2, .... value_n);  



INSERT INTO table_name    
VALUES (value_1, value_2, .... value_n);

Update:
    
UPDATE command is another important data manipulation command in Structured Query Language, it allows us to update or modify the existing data in tables. It changes the data from one or more records in a table.

In [ ]:
UPDATE table_name 
SET col_1 = value_1, col_2 = value_2,... 
WHERE condition;



UPDATE student_details
SET MARKS = 92
WHERE ROLL_NO = 4;

Delete:
    
DELETE is another useful data manipulation command in Structured Query Language, which allows us to remove single or multiple records from the database tables depending upon the condition we specify in the WHERE clause.

If no condition is specified in the WHERE clause, then it will delete all the rows of a table.

In [ ]:
DELETE FROM table_name WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL(Data Query Language): Data query language consists of only one command upon which data selection in SQL relies. The SELECT command in combination with other SQL clauses is used to retrieve and fetch data from databases/tables based on certain conditions applied by the user.

Select:

SELECT is the most widely used data manipulation command in Structured Query Language for retrieving data from the table.

It is used to fetch the data in a set of records from a table, view or a group of tables, views by making the use of SQL joins.

In [ ]:
SELECT column_Name_1, column_Name_2, … FROM table_name;  

SELECT * FROM student_details

Q5. Explain Primary Key and Foreign Key.

A Primary Key or Primary Key Constraint is a type of key that can uniquely identify each record (rows) of a table.

A Primary Key is an attribute (or a collection of attributes) that can uniquely identify each row of a database table. A primary key that is composed using multiple columns is known as a Composite Primary Key. A database table can have only one primary key. A primary key must be unique in nature and it must not contain null values.

According to the data present in the database, the primary key can be composed using a single column or multiple columns. The primary key composed using multiple columns is known as a Composite Primary Key. Whenever a composite primary key is formed, the least number of columns is selected so that query results can be found faster.

To create a relationship between two tables, we primarily need two keys, one is the primary key, and the other is the foreign key.

A primary key is a column or a group of columns that uniquely identifies a particular row in a table. For example, the University roll number identifies each student's data uniquely. The primary key values cannot be null or have duplicates, and one table can have only one primary key. However, this one primary key in a table can consist of single or multiple columns.

A foreign key is a column or a group of columns in a table whose values are referenced from a primary key in another table. A primary key in SQL uniquely identifies records in a table. However, you must have a primary key for using a foreign key.

Properties of a Foreign Key:
    
1. The foreign key values in a table can be null.
2. The foreign key may contain duplicate values.
3. A table may have more than one foreign key.
4. The parent table records can be deleted if no child table record exists.
5. Parent Table cannot be updated if its child table exists.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
)

print(mydb)

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FEFF1D9160>
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('test1',)
('world',)

cursor()

Instantiates and returns a cursor using C Extension

By default, CMySQLCursor is returned. Depending on the options
while connecting, a buffered and/or raw cursor is instantiated
instead. Also depending upon the cursor options, rows can be
returned as dictionary or named tuple.

Dictionary and namedtuple based cursors are available with buffered
output but not raw.

It is possible to also give a custom cursor through the
cursor_class parameter, but it needs to be a subclass of
mysql.connector.cursor_cext.CMySQLCursor.

Raises ProgrammingError when cursor_class is not a subclass of
CursorBase. Raises ValueError when cursor is not available.

Returns instance of CMySQLCursor or subclass.

execute()

Execute given statement using given parameters