Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use  MongoDB over SQL databases?

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

To prevent the database from becoming a system-wide bottleneck, especially in high volume environments, NoSQL databases perform in a way that relational databases cannot.

Mongo DB or non-relational database is preferred when
1. Storing large volumes of data without structure.
2. Using clout computing and storage
3. rapid development

In [ ]:
################################################################################################################################

Q2. State and Explain the features of MongoDB.

Dynamic schema: 

Mongo DB gives the flexibility to change the data schema without modifying any of your existing data.

Scalability: 

MongoDB is horizontally scalable, which helps reduce the workload and scale your business with ease.

Manageability:
    
The database doesn’t require a database administrator. Since it is fairly user-friendly in this way, it can be used by both developers and administrators.

Speed: 
    
It’s high-performing for simple queries.


Flexibility: 

You can add new columns or fields on MongoDB without affecting existing rows or application performance.

In [ ]:
################################################################################################################################

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [ ]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://hegdeprashant16:<######>@clustero.pkzfguv.mongodb.net/?retryWrites=true&w=majority")

#password is put as ###### for security reasons.

db = client.test


db = client['pwskills']

coll_create = db['my_record']

data = {
    
    'name' : 'prashant',
    'class':'data science',
    'timing' : 'flexi'
}

coll_create.insert_one(data)

In [ ]:
################################################################################################################################

Q4. Using the database and the collection created in question number 3, write a code to insert one record,  and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number" :2343243242
}

coll_create.insert_one(data1)

In [ ]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
    

coll_create.insert_many(data3)

In [ ]:
for i in coll_create.find():
    print(i)

In [ ]:
coll_create.find_one()

In [ ]:
################################################################################################################################

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to  demonstrate this.

find() method is used to select data from the database. It returns all the occurrences of the information stored in the collection. It has 2 types of parameters, The first parameter of the find() method is a query object.

In [ ]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://hegdeprashant16:<######>@clustero.pkzfguv.mongodb.net/?retryWrites=true&w=majority")

#password is put as ###### for security reasons.

db = client.test


db = client['pwskills']

coll_create = db['my_record']

data = {
    
    'name' : 'prashant',
    'class':'data science',
    'timing' : 'flexi'
}

coll_create.insert_one(data)

for i in coll_create.find():
    print(i)

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

sort() method is used for sorting the database in some order. This method accepts two parameters first is the fieldname and the second one is for the direction to sort. (By default it sorts in ascending order)

In [ ]:
import pymongo


client = pymongo.MongoClient("mongodb+srv://hegdeprashant16:<######>@clustero.pkzfguv.mongodb.net/?retryWrites=true&w=majority")

#password is put as ###### for security reasons.

db = client.test


db = client['pwskills']

coll_create = db['my_record']

data1 = {
    
    'name' : 'prashant',
    'class':'data science',
    'timing' : 'flexi'
}

data2 = {
    
    'name' : 'hegde',
    'class':'masters',
    'timing' : 'flexi'
}

coll_create.insert_one(data1)
coll_create.insert_one(data2)

for i in coll_create.find().sort('name'):
    print(i)

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() : Delete a single document matching the filter

delete_many() : Delete one or more documents matching the filter.

drop() : drop is used to drop the collection so that data indexes are also removed and then create a new collection in that insert data